body {
}

li {
  list-style: none;/* list-styleプロパティを用いて、li要素の黒点を取り除く */
}

.title {
  font-size: 50px;
  text-align: center;
}

.contents {
  width: 1170px;
}

.time {
  text-align: center;
  background-color: orange;
  font-size: 100px;
  padding: 20px 40px;
}

.to_do_list {
  font-size: 40px;
}

.btn-wrapper {
  text-align: center;
}

.btn {
  margin-top: 10px;
  padding: 8px 24px;
  display: inline-block;
  opacity: 0.8;
}

.start {
  width: 100px;
  height: 30px;
  background-color: #ff6347;
  color: white;
}

.stop {
  width: 100px;
  height: 30px;
  background-color: #4169e1;
  color: white;
}

.btn:hover {
  opacity: 1;
}
