body {
}

li {
  list-style: none;/* list-styleプロパティを用いて、li要素の黒点を取り除く */
}

.title {
  font-size: 50px;
  text-align: center;
}

.contents {
  width: 100%;
}

.time {
  color: #e9f5e9;
  /*font-weight: bold;*/
  font-family: Impact;
  text-align: center;
  background-color: #f0ba32;
  font-size: 150px;
  padding: 20px 40px;
}

.to_do_list {
  font-size: 40px;
}

.btn-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  margin-top: 10px;
  padding: 8px 24px;
  display: inline-block;
  opacity: 0.8;
  font-size: 20px;
  font-weight: bold;
}

.start {
  width: 100px;
  height: 30px;
  background-color: #ff8888;
  color: white;
  opacity: 1.0;
}

.stop {
  width: 100px;
  height: 30px;
  background-color: #9c83ff;
  color: white;
  opacity: 1.0;
}

.next {
  width: 100px;
  height: 30px;
  background-color: #f9c265;
  color: white;
  opacity: 1.0;
}

.reset {
  width: 100px;
  height: 30px;
  background-color: #a9a9a9;
  color: white;
  opacity: 1.0;
}

.btn:hover {
  opacity: 0.5;
}

table {
  /*margin-left: 50px;*/
  border-collapse: collapse;
}
td {
  border: solid 1px #c2c2c2;
  padding: 10px 10px;
  padding-right: 15px;
}

.table_index {
  background-color: #ffeac7;
  text-align: center;
}

#nowtask {
  font-weight: bold;
  border: solid 5px #ff8888;
}
